/*******************************************/
/*                                         */
/*              cgpagechange A             */
/*                                         */
/*******************************************/
#cgAbox{
    width:100vw;
    height:100vh;
    position: fixed;
    z-index: 1111111;
    display: none;
    top: 0;
    left:0;
}
.cgA1{
    width:200vw;
    height:100vh;
    background-color: #0c0c0c;
    position: fixed;
    z-index: 1111112;
    top: 0;
    left:-250vw;
    transform: skew(-30deg);
}
.cgA2{
    width:200vw;
    height:100vh;
    background-color: #0c0c0c;
    position: fixed;
    z-index: 1111112;
    top: 0;
    right:-250vw;
    transform: skew(-30deg);
}


/*=============================================================================*/
/*過場開始*/
.endbg_frame {
    width: 100vw;
    height: 100vh;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 1111111;

    display: flex;
    flex-wrap: wrap;
}
.endbg_frame.show {
    background-color: #fff;
    
    -webkit-transition: all 0.1s ease 1s;
    -moz-transition: all 0.1s ease 1s;
    -ms-transition: all 0.1s ease 1s;
    -o-transition: all 0.1s ease 1s;
    transition: all 0.1s ease 1s;
}
.endbg_frame .cube {
    width: 25vw;
    height: 25vh;
    background-color: #fff;
    /* background-image: url('../../upload/cg-back.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
    border: solid 1px #fff;
    opacity: 0;
}
.endbg_frame .cube.show {
    /* background-color: #456858; */
    background-color: #ebe4e4;
    opacity: 1;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}




/*過場結束*/
/*=============================================================================*/