




.search_result{
	width: 85%;
	max-width: 900px;
    margin: 0 auto 50px auto;
}

/*btn*/
.select_btn_span{
	font-weight: bold;
	font-size: 15px;
	line-height: 30px;
	letter-spacing: .25px;
	display:inline-block;
    padding: 0 10px 5px 10px;

}

.select_btn_inner i{
	padding: 0 3px;
}

.select_btn_inner .fa-chevron-down{
	color: #409c72;
}
.select_btn{
	width: 100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
}
.select_btn_inner{
	cursor: pointer;
}

/*上方*/

.select_those{
	padding:0 0 45px 0;
}
.select_those li{
	border: 1px solid #000;
	display: inline-block;
	padding: 8px 30px;
	cursor: pointer;
    margin: 2px 0;
    opacity: .5;
}

.select_those .select_btn_span{
	padding: 0 0 5px 0;
}
.select_those li:hover{
	opacity: 1;
}
.select_those li span{
    font-size: 14px;
    opacity: .8;
    text-transform: uppercase;
    line-height: 15px;
    display: inline-block;
    padding: 0 0 0 3px;
}


.close_x{
    width:15px;
    height:15px;
    margin: 0 auto;
    position: relative;
    display: block;
    transform:rotate(45deg);
    padding:0 20px 0 0;
}
.select_those_inner{
	display: flex;
	justify-content: center;
	align-items: center;
}
.close_x:before,
.close_x:after {
    content: '';
    width:15px;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
}

.close_x:after {
    transform: translate(-50%,-50%) rotate(90deg);
}

/*下方*/
/*點點*/
.ball_icon{
	padding: 0 0 50px 0;
}

.ball_icon span {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: #f0ba55;
    margin: 0 auto 20px auto;
    position: relative;
    display: block;
}

.ball_icon span:before,
.ball_icon span:after{
    content: '';
    width: 7px;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
}

.ball_icon span:after{
    transform: translate(-50%,-50%) rotate(90deg);
}

.ball_icon h3{
    font-weight: 900;
    margin: 0 0 12px 0;
    letter-spacing: 1px;
}

.ball_icon p{
	margin: 0;
}

.select_pic_box{
	padding: 50px 0 0 0;
}

.select_pic_box ul{
	display: flex;
	flex-wrap: wrap;
}

.p_more_series{
	font-size: 1rem;
	line-height: 32px;
	letter-spacing: .8px;
	color: #171717;
	display: inline-block;
	padding: 0 0 5px 0;
}

.p_more_series:hover{
	letter-spacing: 2px;
}

.select_pic_box ul li{
	width: calc((100% - 6px) / 3 );
	margin: 0 3px 20px 0;
	padding: 10px;
	text-align: center;
}

.item_inner{
	border: 1px solid #e5e5e5;
	cursor: pointer;
	padding: 0 10%;
	transition: all .5s;
}

.item_inner:hover{
	border: 1px solid #000;
}

.item_inner picture{ 
	min-height: 270px;
	display: flex;
	justify-content: center;
	align-items: center;
    padding: 20px 0;
}

.select_pic_box ul li:nth-child(3n){
	margin: 0;
}

/*search 頁面*/
.search_bg{
	width: 100%;
	height: 100%;
	background: rgba(0 , 0 , 0 , .7);
	display: flex;
	justify-content: center;
	align-items: flex-start;
	padding: 50px 0 0 0;
}
.close_search{
	width: 50px;
	height: 50px;
	background: #409c72;
    position: absolute;
    top:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.close_search span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    display: block;
    transform: rotate(45deg);
}
.close_search span:before,
.close_search span:after{
    content: '';
    width: 20px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: block;
}


.close_search span:after {
    transform: translate(-50%,-50%) rotate(90deg);
}
.search_box{
	max-width: 1320px;
	width: 90%;
	background: #fff;
}

.search_header{
	border-bottom: 2px solid #eeeeee;
	position: relative;
}

.search_header h5{
	font-family: 'MyriadPro-Regular';
	font-size: 3.25rem;
	line-height: 100px;
	letter-spacing: .25px;
	font-weight: bold;
	text-transform: none;
	text-align: center;
	padding: 50px 0 0 0;
}
.search_header .select_those{
	width: 85%;
	max-width: 900px;
	margin: 0 auto;
} 
.search_box article{
	width: 85%;
	max-width: 870px;
	margin: 50px auto 0 auto;
}

.search_options{
	display: flex;
	align-items:flex-start;
	justify-content: flex-start;
    padding: 10px 0 25px 0;
}
.search_options h5{
	font-size: 15px;
	line-height: 30px;
	letter-spacing: 0.25px;
	font-weight: bold;
	position: relative;
	width: 15%;
	display: inline-block;
}

.search_options h5:after{
    content: '';
    position: absolute;
    bottom: 0;
    left:0;
    width: 14px;
    height: 1px;
	background:#409c72;
}
.search_options ul {
	display: flex;
	flex-wrap: wrap;
}

.search_options ul li span{
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.25px;
	opacity: .8;
	min-width: 125px;
	transition: all 1s;
	cursor: pointer;
}

.search_options ul li span.on,
.search_options ul li span:hover{
	opacity: 1;
}

.search_options ul li span.on:before{
	background: #000;
	border: 1px solid #000;

}
.search_options ul li span:hover:before{
	border: 1px solid #000;
}

.search_options ul li span:before{
	content: ' ';
	width: 8px ;
	height:8px;
	background: #fff;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #3f3f3f;
	margin: 0 10px 0 0;
}
.search_option_box{
	width: 85%;
}

.search_option_box input{
	border-top:none;
	border-right:none;
	border-left:none;
}

.search_option_box ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	 color: #585858;
	 text-transform: uppercase;
}

.search_option_box ::-moz-placeholder { /* Firefox 19+ */
    color: #585858;
    text-transform: uppercase;
}

.search_option_box :-ms-input-placeholder { /* IE 10+ */
    color: #585858;
    text-transform: uppercase;
}

.search_option_box :-moz-placeholder { /* Firefox 18- */
    color: #585858;
    text-transform: uppercase;
}

.search_option_li{
    padding: 12px 0 0 0;
}

.search_option_box span{
	font-size: 14px;
	line-height: 30px;
	letter-spacing: .25px;
	color: #585858;
	display: block;
	padding: 0 10px;
}

.p_icon_box{
    padding: 0 10px;
}
.p_square span{
	display: block;
	width: 20px;
	height: 20px;
	background:#959595;
}
.rectangle span{
	display: block;
	width: 20px;
	height: 10px;
	background:#959595;
}

/*button*/
.search_button_box{
    display: flex;
    justify-content: center;
}

.search_button_box .half_color_box{
    max-width: 200px;
    margin: 15px 13px 50px 13px;
    opacity: 0;
    transition: all 1s;
    transform: translate(0 , 10%);
}

.search_button_box .show.half_color_box{
    opacity: 1;
}

.favorite_button_box span{
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
}

.product_option{
	max-width: 1440px;
	margin:0 auto;
}
.product_option .select_btn_inner{
	position: absolute;
	bottom: 100%;
}
.result .lbox_inner{
	background: rgba(0 , 0 , 0 , 0.3);
	padding: 20px 0;
}
@media screen and (max-width:850px){

	.select_pic_box ul li {
	    width: calc((100% - 6px) / 2 );
	}
}


@media screen and (max-width:600px){
	.search_box {
	    width:100%;
	}
	.search_options h5 {
        width: 30%;
     }
	.search_option_box {
	    width: 70%;
	}

}

@media screen and (max-width:400px){
	.select_pic_box ul li {
	    width: 100%;
	}
}

